{% extends "layout.html" %}
{% block content %}
    <h1>Grupper</h1>
    <hr>
    {% if groups|length == 0%}
        <p>Ikke medlem af nogle grupper</p>
    {% else %}
        {% for group in groups %}
        <div class="card">
            <div class="card-body">
                <p><a class="group-name" href="{{ url_for('Group.show', group_id = group.group_id) }}">{{ group.name }}</a></p>
            </div>
          </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block sidebar %}
<p style="font-weight: bold;">Opret gruppe</p>
<form method="POST" action="{{ url_for('Group.create')}}">
    <p>{{ form.title(class="form-control", placeholder="Gruppens navn") }}</p>

    <p>{{ form.hidden() }} {{ form.hidden.label(class="form-check-label") }}</p>
    <p>{{ form.submit(class="btn btn-primary btn-block") }}</p>
    </form>
{% endblock sidebar %}
