{% extends "layout.html" %}
{% block content %}
    <h1>Grupper</h1>
    <hr>
    {% if groups|length == 0%}
        <p>Ikke medlem af nogle grupper</p>
    {% else %}
        {% for group in groups %}
        <div class="card">
            <div class="card-body">
                <p>
                    <a class="group-name" href="{{ url_for('Group.show', group_id = group.group_id) }}">{{ group.name }}</a>
                    {% if not group.mandatory %}
                        {% if current_user.is_member_of_group(group.group_id) %}
                            <a class="btn btn-danger btn-sm float-right" href="{{ url_for('Group.leave', group_id = group.group_id) }}">Afmeld</a>
                        {% else %}
                            <a class="btn btn-success btn-sm float-right" href="{{ url_for('Group.join', group_id = group.group_id) }}">Tilmeld</a>
                        {% endif %}

                    {% else %}
                        <a class="btn btn-secondary btn-sm float-right" href="#" disabled>Obligatorisk</a>
                    {% endif %}
                </p>
                
            </div>
          </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block sidebar %}
<p style="font-weight: bold;">Opret gruppe</p>
{% if current_user.role == "Lærer" %}
<form method="POST" action="{{ url_for('Group.create')}}">
    <p>{{ form.title(class="form-control", placeholder="Gruppens navn") }}</p>

    <p>{{ form.mandatory() }} {{ form.mandatory.label(class="form-check-label") }}</p>
    <p>{{ form.submit(class="btn btn-primary btn-block") }}</p>
    </form>
{% else %}
    <p>Denne funktion er kun tilgængelig for lærer</p>
{% endif %}
{% endblock sidebar %}
