{% extends "layout.html" %}
{% block content %}
    <h1>{{ group.name }}   
    </h1>
    <hr>
    {% if posts|length == 0 %}
      <p>Gruppen har ingen opslag endnu</p>
    {% endif %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 author-name" href="#">{{ post.author.first_name }} {{ post.author.last_name }} ({{ post.author.role }})</a>
              <small class="text-muted float-right">{{ post.created_date.strftime('%H:%M %d-%m-%Y')}}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

    {% if current_user.is_member_of_group(group.group_id) %}
    <div class="card">
      <div class="card-body">
        <p style="font-weight: bold;">Skriv opslag</p>
        <form method="POST" action="{{ url_for('Post.create')}}">
          {{ formpost.group_id(value=group.group_id) }}
          {{ formpost.author_id(value=current_user.cpr_num) }}
        <div class="row">
          <div class="col-md-4">{{ formpost.title(class="form-control", placeholder="Title") }}</div>
          <div class="col-md-8">{{ formpost.content(class="form-control", placeholder="Indhold") }}</div>
          <div class="col-md-12 mt-2">{{ formpost.submit(class="btn btn-primary btn-block btn-sm", value="Opret opslag") }}</div>
        </div>
        </form>
      </div>
    </div>
    {% endif %}
{% endblock content %}

{% block sidebar %}
  {% if current_user.is_member_of_group(group.group_id) %}
  <p style="font-weight: bold;">Gruppe tråde</p>
    {% if threads|length == 0 %}
        <p>Gruppen har ingen tråde endnu</p>
    {% endif %}
    {% for thread in threads %}
      <p><a href="{{ url_for('Threads.show', thread_id = thread.thread_id) }}">{{ thread.title }}</a></p>
    {% endfor %}
    <hr>
    <form method="POST" action="{{ url_for('Threads.create')}}">
    {{ form.group_id(value=group.group_id) }}
    <p>{{ form.title(class="form-control", placeholder="Trådens title") }}</p>
    <p>{{ form.submit(class="btn btn-primary btn-block", value="Start tråd") }}</p>
    </form>

  {% else %}

    <p>Tilmeld dig gruppe for at se gruppe tråde og skrive opslag</p>
    <p><a class="btn btn-success btn-sm btn-block" href="{{ url_for('Group.join', group_id = group.group_id) }}">Tilmeld</a></p>

  {% endif %}

  {% if current_user.is_member_of_group(group.group_id) %}
  <p>
  <hr>
    {% if group.mandatory %}
      <a class="btn btn-secondary btn-sm disabled" href="#">Obligatorisk gruppe</a>
    {% else %}  
      <a class="btn btn-danger btn-sm btn-block" href="{{ url_for('Group.leave', group_id = group.group_id) }}">Forlad gruppen</a>
    {% endif %}  
  </p> 
  {% endif %}   

{% endblock sidebar %}
