{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <h1>Hej, {{ current_user.first_name }} {{ current_user.first_name }}</h1>
    <hr>
    <h2>Opslag</h2>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author_name }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <a class="group-name" href="#">
              {{ post.group_name }}
            </a>
          </div>
        </article>
    {% endfor %}
    {% else %}
    {% endif %}
{% endblock content %}
