{% extends "layout.html" %}
{% block content %}
    <h1>Test Page</h1>
	<p>Dette er en testside. Hej med dig. <b>fed tekst,</b> <i>kursiv tekst</i> </p>
	<p><b>fed tekst, <i>fed og kursiv tekst</i></b></p>
	
	<p>Liste af ansatte:</p>
	<ul>
      {% for e in emp %}
        <li>{{ e[1] }}</li>
      {% endfor %}
	</ul>
	
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Add a new employee</legend>
          <!-- Id-felt -->
          <div class="form-group">
              {{ form.id.label(class="form-control-label") }}

              {% if form.id.errors %}
                  {{ form.id(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.id.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.id(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <!-- Username-felt -->
          <div class="form-group">
              {{ form.username.label(class="form-control-label") }}

              {% if form.username.errors %}
                  {{ form.username(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.username(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <!-- Password-felt -->
          <div class="form-group">
              {{ form.password.label(class="form-control-label") }}
              {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.password(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
      <!-- Submit-knap -->
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
	
{% endblock content %}

