{% extends "layout.html" %}
{% block content %}
  <div class="thread content-section">
    <h1>{{ thread.title }}</h1>
    <div id="messages" class="messages">
      {% for message in messages %}
      {% if message.author_id == current_user.user_id %}
      <div class="message-container self">
      {% else %}
      <div class="message-container">
      {% endif %}
        <div class="content-section message">
          <a class="author-name" href="#">{{ message.author.first_name }}</a>
          <p>{{ message.content }}</p>
        </div>
        <p class="timestamp">{{ message.created_date }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="new-message">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.besked(class="message-box") }}
        {{ form.submit(class="send") }}
      </form>
    </div>
    <script>
      var objDiv = document.getElementById("messages");
      objDiv.scrollTop = objDiv.scrollHeight;
    </script>
  </div>
{% endblock content %}

{% block sidebar %}
<a class="group-name" href="{{ url_for('Group.show', group_id = thread.group_id) }}">{{thread.group.name}}</a>

{% endblock sidebar %}
